/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #222;
}
a {
  text-decoration: none;
  color: white;
}
p{
  font-size: 16px;
  letter-spacing: 0.1rem;
}

/*HEADER*/
.header-wrap {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12vh;
  z-index:3;
  background-color: rgba(224, 24, 107, 0.576);
  box-shadow: 0 3px 6px rgba(224, 24, 107,0.16), 0 3px 6px rgba(224, 24, 107, 0.116);
}
/*desktop menu*/
.nav-wrap{
  display:none;
}
/*mobile menu*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index:4;
}
.menu-btn-burger {
  width: 40px;
  height: 4px;
  background-color: #fff;
  transition: 0.5s;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #fff;
  transition: 0.5s;
}
.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn-burger{
  transform: rotate(180deg);
  background-color: transparent;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg);
}
.mobile-menu{
  display: block;
  min-height: 95vh;
  width: 100%;
  padding-top: 15vh;
  background-color: rgb(224, 24, 107);
  position: fixed;
  right: -100%;
  z-index: 2;
  transition: 0.5s;
}
.mobile-navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-link{
  width: 100%;
  padding: 30px;
  border: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; 
}

/*desktop*/
@media screen and (min-width:800px){
  /*mobile menu*/
  .menu-btn{
    display:none;
  }
  /*desktop menu*/
  .nav-wrap {
    display: flex;
    align-items: center;
    padding-right: 5rem;
    gap: 4rem;
  }
  .nav-link {
    padding: 0.3rem; 
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
  .nav-link:hover{
    border-bottom: 2px dotted #E0186C;
  }
  .colored-link{
    padding: 0.7rem 1rem;
    background-color: #ffda1e;
    border-radius: 20px;
  }
}


/*LANDING*/
.landing-wrap {
  position: relative;
  top:0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(335, 100%, 89%, 0.5) ;
  background-image: url(./img/background.jpg);
}
.landing-cont-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  gap: 0;
  max-width: 1200px;
  margin-top: 16vh;
}
/*image*/
.landing-img-cont {
  border: 3px solid #E0186C;
  border-radius: 50%;
  flex: 0 0 300px;
  height: 300px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.landing-img-cont img{
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
/*text*/
.landing-txt-cont {
  background-color:#fff ;
  border-radius: 20rem;
  color: white;
  padding: 3rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 8px solid #00B17C;
  width: 90%;
}
.landing-txt-cont:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
  right: 40%;
  top: auto;
  bottom: -35px;
	border: 35px solid;
  border-color:  transparent #00B17C transparent transparent ;
  transform: rotate(45deg);
}
.landing-txt-cont h2{
  font-size: 72px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #222;
}
.landing-txt-cont p {
  font-size: 18px;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #222;
}

/*desktop*/
@media screen and (min-width:1000px){
  .landing-cont-wrap{
    justify-content: space-between;
    gap: 3rem;
  }
  .landing-img-cont {
    flex: 0 0 450px;
    height: 450px;
    margin-top: 80px;
    margin-bottom: 0;
  }
  .landing-txt-cont{
    width: 50%;
  }
  .landing-txt-cont:before {
    left: -8px;
    right: auto;
    top: auto;
    bottom: 30px;
    border: 35px solid; 
    border-color:  transparent transparent #00B17C transparent ;
    transform:rotate(0deg)
  }
}



/*INFO SECTION*/
.info-wrap {
  display: flex;
  justify-content: center;
}
.info-cont-wrap{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1000px;
  padding-top: 150px;
}
/*who/about*/
.who-cont,
.skills-cont{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border:1px solid black;
}
.who-cont h2, 
.skills-cont h2{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 100%;
  border-bottom: 3px solid #E0186C;
  padding-bottom: 0.4rem;
  margin-bottom: 2rem;
}
/*about*/
.who-cont-txt{
  gap: 2rem;
}
.who-cont h3{
  letter-spacing: 0.1rem;
}
.bold{
  font-weight: 900;
}
.who-cont ul{
  margin-left: 1rem;
  margin-top: 1.5rem;
}
/*skills*/
.skills-cont-icons{
  display: flex;
  justify-content: space-evenly left;
  flex-wrap: wrap;
  gap: 1rem;
}

/*desktop*/
@media screen and (min-width:1000px){
  .info-cont-wrap{
    gap: 0rem;
    justify-content: space-between;
  }
  .who-cont,
  .skills-cont{
    width: 49%;
  }
}


/*WORK SECTION*/
.anchor{
  height:150px;
}
.work-wrap{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: hsla(335, 100%, 89%, 0.5) ;
  margin-top: 80px;
}
.work-cont-wrap{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-bottom: 150px;
}
/*heading*/
.work-cont-heading{
  position: relative;
  top: -60px;
  left: 10%;
  transform: rotate(-10deg);
  background-color: #00B17C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 
.work-cont-wrap h2{
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 3px solid #fff;
  padding: 0 2rem;
}
/*projektkorten*/
.project-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
/*alert box*/
.alert {
  /* width: 48%; */
  width:90%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  border: 14px solid #ffda1e;
}
.alert h3{
  color:#E0186C;
  font-size:48px;
  font-weight:900;
}
.alert p{
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}
.alert div {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.alert-btn{
  background-color: #E0186C;
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.1rem;
}
/*cards*/
.project-card{
  position: relative;
  width: 90%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.in-progress{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(34, 34, 34, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-progress-txt{
  color:#E0186C;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.project-cont-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.041);
}
.project-cont-img img {
  object-fit: cover;
  width: 100%;
}
.no-img {
  background-color: lightgrey;
}
.inner-project-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.project-cont-txt h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.project-cont-txt p {
  padding-top: 0.5rem;
}
.project-subheading {
  font-weight: 600;
}
.project-cont-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project-cont-info p{
  margin-top: 1.5rem;
  color: #E0186C;
}
.project-btns{
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 0.5rem;
}
.project-btns a{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.project-btns button {
  background-color: #E0186C;
  border-radius: 15px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  font-size: 14px;
  letter-spacing: 0.1rem;
  width:100%;
  height: 100%;

}

/*tablet*/
@media screen and (min-width:800px){
  .work-cont-heading{
    left: 20px;
  }
  .project-card,
  .alert{
    width: 48%;
  }
}

/*desktop*/
@media screen and (min-width:1000px){
  .project-card,
  .alert{
    width: 48%;
  }
  .work-cont-heading{
    max-width: 60%;
    left: -20px;
  }
}


/*CONTACT SECTION*/
.contact-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}
.contact-cont-wrap{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  flex-grow: 1;
  max-width: 1000px;
  padding: 100px 0;
}
/*contact ways*/
.contact-cont-ways{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.contact-cont-ways h2{
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}
.contact-cont-ways a{
  color: #222;
}
.contact-cont-icons{
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.contact-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}
.contact-cont-icons h4{
  letter-spacing: 0.1rem;
  font-size: 24px;
}
.contact-cont-bubble h2{
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
/*bubble*/
.contact-cont-bubble{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
	background-color: #00B17C;
  width: 70%;
  margin-bottom: 0;
  margin-bottom: 4rem;
  padding: 3rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.contact-cont-bubble:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -10px;
  right: auto;
  top: auto;
	bottom: 5%;
	border: 40px solid;
	border-color: transparent  transparent transparent #00B17C ;
  transform: rotate(40deg);
}

/*tablet*/
@media screen and (min-width:800px){
  .contact-cont-bubble{
    width: 30%;
  }
}

/*desktop*/
@media screen and (min-width:1000px){
  .contact-cont-ways{
    width: 50%;
  }
}